{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="../../static/css/anime_generator.css">
<style>
    
</style>
{% endblock %}


{% block header %}
<h1>{% block title %}一覧ジェネレーター{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>{{ cool[1] }}一覧</h2>
<! -img src="{{ path + cool[0] + '.jpg' }}" width="10%" height="10%" ->
<font color = "Crimson"><b>生成する内容によって各自選択してください。</b></font>
*この画面では選択されたアニメは暗くなります
<form method="POST" action="{{ url_for('all_cool',cool=cool[0]) }}">
<div class="anime_list">
{% for i in range(1, anime_num+1) %}
    <input name="anime" id="{{ i }}" type="checkbox" value={{ i }}>
    <label for="{{ i }}">
        <img src="{{ path }}{{ i }}.jpg ">
    </label>
{% endfor %}
</div>
<input type="submit" value="一覧を作成">
</form>
{% endblock %}
